{% extends "layout.html" %}
{% block body %}
<div class="text-left">
<p>The game of Snake featuring a leaderboard to keep track of your highscore.
  This was my first full-stack project that taught me about web development.
  It was built using Flask, SQLite, Bootstrap, and JavaScript.
  The source code can be found at:</p>
<a href="https://github.com/jasenwright/arcadesnake">github.com/jasenwright/arcadesnake</a>
<p><br>Read about me at:</p>
<a href="https://jasenwright.github.io">jasenwright.github.io</a>
</div>
{% endblock %}
