{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='snake.js') }}"></script>
<canvas id="snakeCanvas" width="400" height="400"></canvas>
<p>Use arrow keys to move</p>
<p id="currentScore">Current Score: 0</p>
<p id="highScore">High Score: 0</p>
{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
<form action="" method=post>
  <dl>
    <dt>Name (Limit Three Characters):
    <dd><input type=text size=30 maxlength="3" name=username>
    <dt>Score:
    <dd><input id="highScoreInput" type=text size=30 name=score readonly>
    <dd><input type=submit class="btn btn-default" value='Post High Score'>
  </dl>
</form>
{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}
<a href="{{ url_for('show_entries') }}" class="btn btn-default" role="button">View Leaderboard</a>
{% endblock %}
